body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #02111B;
}

.container {
  padding: 30px;
  background-color: #EBEBEB;
  border-radius: 30px;
  box-shadow: 2px 3px 30px black;
}

.p1 {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.p2 {
  font-weight: bold;
  font-family: sans-serif
}
input {
  border: 1px solid rgb(158, 158, 158);
  border-radius: .3em;
  padding: .25rem;
  width: 10em;
  height: 1.8em;
  text-align: center;
}

input:hover {
  background-color: rgb(233, 233, 233);
}

select {
  margin-left: .5em;
  height:  2.5em;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  padding: .25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select:hover {
  background-color:rgb(233, 233, 233);
  cursor: pointer;
}

.division {
  font-weight: bold;
  font-size: 2rem;
}